{% extends 'base.html.twig' %}

{% block title %}Edit Prestamo{% endblock %}

{% block body %}
    <h1>Editar Prestamo</h1>

    {{ include('prestamo/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_prestamo_index') }}">Regresar</a>

    {{ include('prestamo/_delete_form.html.twig') }}
{% endblock %}
